<p>Congratulations <b><%= @name %>!</b> Your college has created educational email for you.</p>
<p>Please login to <a href="http://mail.swastikcollege.edu.np">mail.swastikcollege.edu.np</a> to set you password.</p>
<p>Initial login details are:<br><br>
  <b>Email:</b> <%= @username %><br>
  <b>Password:</b> <%= @password %>
</p>
<br>
<p>If you face any problem while login, reply to this email or contact the college. Thank you.</p>
