<p id="notice"><%= notice %></p>

<p>
  <strong>Csv file:</strong>
  <%= @mail_sender.csv_file %>
</p>

<%= link_to 'Edit', edit_mail_sender_path(@mail_sender) %> |
<%= link_to 'Back', mail_senders_path %>
